<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axiohelix.gymmanagement.mapper.ShopGroupMapper">

    <resultMap id="ShopGroupMap" type="com.axiohelix.gymmanagement.entity.ShopGroup">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="branches" property="branches"/>
        <result column="group_shop_id" property="GroupId"/>
        <result column="company_id" property="companyId"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_on" property="createdOn"/>
        <result column="last_update_by" property="lastModifiedBy"/>
        <result column="last_update_on" property="lastModifiedOn"/>
    </resultMap>

    <insert id="insert" parameterType="com.axiohelix.gymmanagement.entity.ShopGroup">
        INSERT INTO shop_group (
            id,
            name,
            branches,
            company_id,
            remark,
            status,
            sort_order,
            created_by,
            created_on,
            last_update_by,
            last_update_on
        ) VALUES (
                  #{id},
                  #{name},
                  #{branches},
                  #{companyId},
                  #{remark},
                  #{status},
                  #{sortOrder},
                  #{createdBy},
                  #{createdOn},
                  #{lastModifiedBy},
                  #{lastModifiedOn}
                 )
    </insert>

    <update id="update" parameterType="com.axiohelix.gymmanagement.entity.ShopGroup">
        UPDATE shop_group
        SET
            name = #{name},
            branches = #{branches},
            company_id = #{companyId},
            remark = #{remark},
            status = #{status},
            sort_order = #{sortOrder},
            created_by = #{createdBy},
            created_on = #{createdOn},
            last_update_by = #{lastModifiedBy},
            last_update_on = #{lastModifiedOn}
        WHERE
            id = #{id}
    </update>

    <select id="selectAll" resultMap="ShopGroupMap">
        SELECT *
        from shop_group
    </select>

    <select id="selectById" resultMap="ShopGroupMap">
        SELECT *
        from shop_group
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="String">
        DELETE FROM shop_group
        WHERE id = #{id}
    </delete>
</mapper>